:root {
  --bg-color: #2c2f33;
  --text-color: #ccc;
  --sub-text-color: #333333;
  --button-color: #e8e8e8;
  --button-hover: #d8d8d8;
  --text-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}
