.profile-container {
    width: 100%;
    height: 50%;
    color: blue
}

.profile {
    display: block;
    align-items: center;
}

.top {
    width: 200px;
    height: 250px;
    color: blueviolet;
}