html,
body {
    margin: 0;
    padding: 0;
}

.profile-container {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.top {
    position: relative;
    width: 50%;
    height: 25rem;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
}

.avatar {
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: #ddd;
}

.username {
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.bio {
    font-size: 14px;
    color: gray;
    margin: 0 15px;
}